# Odoo Configuration
ODOO_URL=http://localhost:8069
ODOO_DB=odoo
ODOO_USERNAME=admin
ODOO_PASSWORD=admin

# MCP Server Configuration
MCP_SERVER_NAME=odoo-mcp
MCP_SERVER_VERSION=1.0.0

# FACEBOOK API Configuration 
FACEBOOK_APP_ID=26199346379723665
FACEBOOK_APP_SECRET=ab827fd2d49d1b5508cfe260d01c6a34
FACEBOOK_ACCESS_TOKEN=EAF0UKq5Pk5EBROuCpO3z0le7CZAdD89ppU8Vh7iJCF6vTZAwZCmTfi0zB2S981ZB8mFZCPgI7ZByPLlINpphQsIYu1i9NhYGBDpvTUFAGTruJz4JBMZCnWgZAajLLihw32YZBUw37mT4VR0U1XOZAKK5qJYtyEwhn34QaVYPLl6ooxLDPni3ozxuh7gxahvMjPe5zOt52Q85rpggfWsCILgPh9CCP9FVWRPGIv9B0dXEAihXsG3lJG0ZBfZBZBdOMoxs0orKI7EiWeVkRCZCWlQvQouZCOGZCjDZB6ftVpZBaKQHJJEqOhnKvksFaxqILIwralpxPi4QHBz8ZCq9Qvz7KMU
FACEBOOK_PAGE_ID=26199346379723665